@{
    ViewBag.Title = "Home Page";
}

<div data-ng-controller="highScoreController" class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <table class="table table-bordered table-hover" style="width:1em;">
                    <tr>
                        <td>Username</td>
                        <th>Score</th>
                    </tr>
                    <tr data-ng-repeat="data in highScores">
                        <td>
                            <p>{{ data.UserName }}</p>
                        </td>
                        <td>
                            <p>{{ data.Score }}</p>
                        </td>
                    </tr>
                </table>
                <hr />
            
        </div>
    </div>
    <div id="spinner" data-ng-show="loading">
        <img src="Images/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>
